*.*

!/.editorconfig
!/.gitignore
!/.sbproj
!/logo.png
!/README*
!/LICENSE*

!/code/**/*.cs
!/code/**/*.scss
/code/obj/**
/code/properties/**

!/materials/**/*.vmat_c
!/models/**/*.vmdl_c
!/sounds/**/*.vsnd_c
!/sounds/**/*.sound_c
!/textures/**/*.vtex_c
